@page
@model portifolio_web_site.Pages.Profile._HomeModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center" id="home-title">
    <h1 class="h1">Sejam bem-vindos ao meu portifólio pessoal!</h1>
    <p class="h5">É aqui que você irá conhecer um pouco mais sobre o Dev Spindola. E o amigo, companheiro e responsável, Marcos (vulgo: eu. hehehe).</p>
</div>

<div id="partial-view-home">
    <partial name="~/Pages/Profile/_Home.cshtml" />
</div>

